$base-text-color: #1f2229;
$additional-text-color: #8f9399;
$additional-text-color2: #919294;

$base-backround-color: #1f2229;
$base-backround-color2: #fff;

$base-border-color: #d1dbd6;

$base-font-size: 16px;
$base-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;