body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation: background-image 80s ease-in-out .2s infinite both running;

  @keyframes background-image {
    0% { background: url(../images/bg-1.jpg); }
    10% { background: url(../images/bg-2.jpg); }
    20% { background: url(../images/bg-3.jpg); }
    30% { background: url(../images/bg-4.jpg); }
    40% { background: url(../images/bg-5.jpg); }
    50% { background: url(../images/bg-6.jpg); }
    60% { background: url(../images/bg-7.jpg); }
    70% { background: url(../images/bg-8.jpg); }
    80% { background: url(../images/bg-9.jpg); }
    90% { background: url(../images/bg-10.jpg); }
    100% { background: url(../images/bg-11.jpg); }
  }
}

.app {
  padding-top: 40px;
}

.filter {
  background-color: $base-backround-color2;
  border: 1px solid $base-border-color;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;

  &__item {
    &--active {
      color: $additional-text-color2;
    }
  }
}

.info-table {
  padding: 10px;
  background-color: $base-backround-color2;
  border: 1px solid $base-border-color;
  border-radius: 5px;

  .info-row {
    min-height: 30px;
    margin: 10px 0;
    border-bottom: 1px solid rgb(158, 200, 255);
    &__line {
      display: flex;
      justify-content: space-between;
    }
    &__description {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
        width: 33%;
        padding: 5px 0;
      }
    }

    .icon {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $base-backround-color;
      cursor: pointer;

      &--expanded {
        transform: rotate(180deg);
      }
    }

    .label {
      font-size: 14px;
      font-family: $base-font-family;
      color: $additional-text-color;
      margin-right: 5px;
    }

    .spec-property {
      color: rgb(190, 190, 190);
      &:before {
        content: '--';
      }
      &:after {
        content: '--';
      }
    }
  }
}